/*
REQUIREMENTS

x border-box
x float
display: block
x display: inline
x centered content
x pseudo-element
x pseudo-class
x clear-fix
positional selector
selector combinator

*/

*, *::before, *::after{
  box-sizing: border-box;
}

h1{
  margin: 0;
}

p{
  font-family: 'Open Sans', sans-serif;
}

body{

}

/*HEADER*/

.header{
  width: 100%;
  height: 500px;
  background-image: url(../img/bear.jpeg);
  background-repeat: no-repeat;
  background-color: #f3f4f6;
  text-align: right;
  font-size: 38px;
  line-height: 1.2;
  padding: 40px;
  position: relative;
}

.header h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff86b1;
  clear: both;
}

.header h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #80d0de;
}

.header img{
  transform: rotate(90deg);
  position: absolute;
  left: 35%;
  top: 20%;
  width: 138px;
}

.nav{
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  float: right;
  margin: -30px;
}

li{
  float: left;
  list-style-image: url(../img/bullet.svg);
  padding-left: 13px;
  margin: 33px;
}

li a{
  text-transform: lowercase;
  color: #34bfd9;
  text-decoration: none;
}

li a:hover{
  color: #ff86b1;
}



/*ABOUT*/

.about{
  width: 50%;
  height: 600px;
  float: left;
  padding: 15px;
  background-image: url(../img/classy_fabric.png);
}


/*INFO*/

.info{
  float: right;
  height: 600px;
  width: 50%;
  padding: 15px;
  background-image: url(../img/sprinkles.png);
  padding: 0;
}

.info .content{
  width: 500px;
  height: 100%;
  margin: auto;
  color: #ff86b1;
  background-color: white;
  padding: 50px;
}

.info h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 0;
  color: #80d0de;
}

.info img{
  width: 100%;
}

/*GALLERY*/

.gallery{
  float: right;
  display: inline-block;
  width: 45%;
  /* height: 46%; */
  /* margin: -3px; */
}

.gallery img{
  margin: auto;
  /* display: inline-block; */
  width: 150px;
}

.gallery img:hover{
  filter: hue-rotate(310deg);
}

/*NUTRITION TABLE*/

.nutrition{
  float: left;
  border: 1px solid white;
  height: 100%;
  width: 50%;
}

table{
  color: #fd9abd;
  margin: 9px;
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  text-align: left;
}

tr{
  border-bottom: 2pt solid #fff798;
}

th{
  padding: 9px;
}

table h1, h2{
  margin: 0;
  line-height: 1;
}

thead tr:first-child{
  border-bottom: 0;
}

td{
  margin: 15px;
}

tbody>tr{
  text-align: right;
}

td:nth-child(2){
  text-align: left;
}

td:first-child{
  padding: 6px;
  font-weight: bold;
  text-align: left;
}
