/*
REQUIREMENTS

border-box
float
display: block
display: inline
centered content
pseudo-element
pseudo-class
clear-fix
positional selector
selector combinator

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

*, *::before, *::after{
  box-sizing: border-box;
}

/*NUTRITION TABLE*/
table{
  margin: 9px;
  font-family: sans-serif;
  border-collapse: collapse;
  text-align: left;
}

tr{
  border-bottom: 2pt solid black;
}

th{
  padding: 9px;
}

table h1, h2{
  margin: 0;
  line-height: 0.5;
}

thead tr:first-child{
  border-bottom: 0;
}

td{
  margin: 15px;
}

tbody>tr{
  text-align: right;
}

td:nth-child(2){
  text-align: left;
}

td:first-child{
  padding: 6px;
  font-weight: bold;
  text-align: left;
}
